body{
    margin: 0;
    padding: 0;
   
}

h2{
    text-align: center;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.area-do-jogo{
    display: flex;
    justify-content: space-around;

   
}

.area-do-jogo div {
    height: 400px;
    width: 20px;
    background-color: gray;
    
}

.chao{
    width: auto;
    height: 10px;
    background-color: green;
}